{
  "habitica": {
    "userId": "4ef54610-742d-4503-ba88-faa5d820287c",
    "apiKey": "d1446942-cc77-4aa7-aec9-adfda9f901b2"
  },
  "todoist": {
    "apiKey": "8ff2969e-84d0-4014-9d48-f96c2587fedf"
  },
  "tableStorage": {
    "connectionString": "your-azure-table-storage-connection-string-here"
  }
}